
.features {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 0px;   
}

.fea-list {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    gap:30px;
}

.feature-icon-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;          
}


.fea-list-item {
    flex-basis: 270px;
} 

